@import '../../../styles/config';


    .phone-card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 750px;
        height: 380px;
        .highlighted-shadow{
            object-fit: contain;
            width: 100%;
        }
    }

@media (max-width: $xlarge){
    .phone-card-container{
        span{
            width: 203px;
        }
    }
}

@media (max-width: $medium){
    .phone-card-container{
        span{
            width: 101px;
        }
    }
}