@import '../../../styles/config'; 

.img{
    width: 590px;
    background-image: url('/assets/phoneShapes.svg');
    background-repeat: no-repeat;
    background-size: 435px;
    background-position: 10px 15px;
    overflow: hidden;
    .phone-img{
        width: 120%;
    }
}


@media (max-width: $xlarge){
    .img{
        display: none;
    }
}