@import '../../../styles/config';

.title-component{
    text-align: center;
    max-width: 450px;
    .first-text{
        color: $blue;
    }
    .second-text{
        font-size: 28px;
        color: $dark;
        margin-top: -5px;
        margin-bottom: -5px;
    }
    .third-text{
        color: $lightGray;
    }
}

@media(max-width: $medium){
    .title-component{
        width: 250px;
    }
}