.title-component{
    text-align: center;
    max-width: 450px;
    .first-text{
        color: #0046CB;
    }
    .second-text{
        font-size: 28px;
        color: #282835;
        margin-top: -5px;
        margin-bottom: -5px;
    }
    .third-text{
        color: #818992;
    }
}